* {
  padding: 0;
  margin: 0; }

body {
  overflow-x: hidden; }

section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 25vh auto;
  min-height: 100vh;
  min-width: 100vw; }
  section header {
    grid-column: span 12;
    background-color: #003335;
    display: grid;
    grid-template-columns: repeat(12, 1fr); }
    section header .logo {
      grid-column: span 12;
      justify-self: center;
      display: grid; }
      section header .logo img {
        justify-self: center;
        align-self: center;
        width: 50%; }
    section header .info {
      grid-column: span 12;
      display: grid;
      background: -webkit-linear-gradient(0deg, #074b5c 0%, #5fa4a5 34.98%, #83c9c3 51.36%, #7ec4bf 58.64%, #6eb4b2 67.88%, #559a9c 78.17%, #31767f 89.13%, #074b5c 100%);
      grid-template-columns: repeat(12, 1fr); }
      section header .info span {
        grid-column: span 3;
        justify-self: center;
        display: grid;
        align-items: center;
        justify-items: center;
        font-size: 0.9em;
        text-align: center; }
        section header .info span img {
          width: 22%; }
        section header .info span img:nth-child(3) {
          width: 30%;
          align-self: flex-start; }
  section footer {
    grid-column: span 12;
    height: 6vh;
    background: -webkit-linear-gradient(0deg, #074b5c 0%, #5fa4a5 34.98%, #83c9c3 51.36%, #7ec4bf 58.64%, #6eb4b2 67.88%, #559a9c 78.17%, #31767f 89.13%, #074b5c 100%); }
  section article {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr); }
    section article aside {
      margin-top: 3vh;
      grid-column: span 6;
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(6, 1fr);
      margin-left: 0.5vw; }
      section article aside .little {
        width: 100%; }
      section article aside .big {
        grid-column: 2 / span 5;
        grid-row: 1 / span 4;
        width: 82%; }
      section article aside .voresTilbud {
        grid-column: 3 / span 2;
        grid-row: span 2;
        align-self: center; }
        section article aside .voresTilbud .tilbuddet {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          justify-items: center; }
        section article aside .voresTilbud img {
          width: 100%; }
        section article aside .voresTilbud img:nth-child(2) {
          width: 55%;
          align-self: center; }
        section article aside .voresTilbud img:nth-child(3) {
          width: 130%; }
    section article main {
      grid-column: span 6;
      padding-top: 3vh;
      grid-row-gap: 30px;
      margin-left: -6vw;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 14% 25% 25% 36%;
      background-color: #e5e5e5; }
      section article main .beskrivelse {
        display: grid;
        justify-items: center; }
        section article main .beskrivelse img {
          width: 20%; }
        section article main .beskrivelse p {
          text-align: center; }
    section article h2 {
      grid-column: span 2;
      justify-self: center;
      font-size: 2em; }
    section article .tilbud {
      grid-column: span 2;
      justify-self: flex-end;
      align-self: flex-start;
      margin-right: 4vw;
      margin-top: -3vh; }
      section article .tilbud h3 {
        color: #c91f26;
        font-size: 2em;
        text-align: center; }
      section article .tilbud button {
        background-color: #003335;
        border-radius: 15px;
        width: 20vw;
        height: 10vh;
        color: white;
        font-size: 1.5em;
        border: none; }
