* {
  padding: 0;
  margin: 0;
  font-family: "Century Gothic"; }

span {
  font-size: 0.9vw; }

p {
  font-size: 0.9vw; }

strong {
  font-size: 1vw; }

body {
  overflow-x: hidden; }

section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 25vh auto;
  min-height: 100vh;
  min-width: 100vw; }
  section .air {
    grid-column: span 12;
    height: 5vh;
    margin-top: 6vh;
    background-color: #013335;
    width: 100vw; }
  section header {
    grid-column: span 12;
    background-color: #013335;
    display: grid;
    height: 21vh;
    grid-template-columns: repeat(12, 1fr); }
    section header .logo {
      grid-column: span 12;
      justify-self: center;
      display: grid; }
      section header .logo img {
        justify-self: center;
        align-self: center; }
    section header .info {
      grid-column: span 12;
      display: grid;
      background: #83bcaa;
      height: 11vh;
      grid-template-columns: repeat(12, 1fr); }
      section header .info span {
        grid-column: span 3;
        justify-self: center;
        display: grid;
        align-items: center;
        justify-items: center;
        font-size: 0.7vw;
        text-align: center; }
        section header .info span img {
          width: 22%; }
        section header .info span img:nth-child(3) {
          align-self: flex-start; }
        section header .info span .binding {
          width: 22%; }
        section header .info span .smallHead {
          width: 30%; }
  section .midPicture {
    grid-column: span 12;
    min-height: 50vh;
    background-color: #013335;
    display: grid;
    justify-items: center;
    align-items: center; }
    section .midPicture img {
      width: 25%; }
  section footer {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    min-height: 40vh;
    height: auto;
    background-color: #013335;
    padding: 4vw 0 0 0; }
    section footer .footerInfo {
      grid-column: span 3;
      justify-self: center;
      font-size: 0.8vw;
      color: white;
      line-height: 1.5vw; }
      section footer .footerInfo img {
        width: 12vw; }
  section article {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr); }
    section article .theProduct {
      grid-column: span 12;
      min-height: 70vh;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      background-color: #013335;
      margin-top: 5vh; }
      section article .theProduct .text {
        align-self: center;
        height: 54vh;
        grid-column: 2 / span 4;
        color: white;
        line-height: 2vw; }
      section article .theProduct .picture {
        grid-column: 6 / span 6;
        width: 37vw;
        align-self: center;
        justify-self: center; }
    section article .andreTilbud {
      grid-column: span 12;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 20px;
      padding: 1vw; }
      section article .andreTilbud .tilbudende p {
        text-align: center;
        font-size: 1vw; }
      section article .andreTilbud .porto {
        font-size: 0.8vw;
        text-align: left; }
      section article .andreTilbud .right {
        text-align: right;
        width: 50%;
        padding: 1.9vw 0 0 0;
        float: right;
        font-weight: 900; }
      section article .andreTilbud .left {
        width: 50%;
        font-weight: 900;
        float: left;
        font-size: 1.8vw; }
      section article .andreTilbud .shortText {
        grid-column: 2 / span 5;
        align-self: flex-end;
        justify-self: flex-start;
        font-size: 1.6vw;
        font-weight: 100; }
      section article .andreTilbud img {
        width: 100%; }
      section article .andreTilbud button {
        background-color: #013335;
        border-radius: 11px;
        width: 20vw;
        height: 8vh;
        color: white;
        font-size: 1.3em;
        margin: 0.2vw 0 0 0;
        border: 3px solid #83bcaa; }
    section article .kundeservice {
      grid-column: span 6;
      display: grid; }
      section article .kundeservice .readers {
        text-align: center;
        width: 40vw;
        height: 29vh; }
      section article .kundeservice button {
        background-color: #013335;
        width: 16vw;
        height: 7vh;
        margin: 0.3vw 0 0 0;
        border-radius: 14px;
        color: white;
        font-size: 1.3vw;
        border: 3px solid #83bcaa; }
      section article .kundeservice .stars {
        width: 16vw; }
      section article .kundeservice p {
        line-height: 2vw; }
    section article .payment {
      grid-column: span 12;
      display: grid;
      grid-template-columns: repeat(12, 1fr); }
      section article .payment .finish {
        grid-column: span 12;
        display: none;
        grid-template-columns: repeat(12, 1fr); }
      section article .payment .cardInfo {
        grid-column: 2 / span 5;
        display: grid;
        justify-items: flex-start; }
        section article .payment .cardInfo .card {
          width: 100%; }
        section article .payment .cardInfo span {
          display: grid;
          grid-template-columns: 30% 70%;
          width: 100%; }
          section article .payment .cardInfo span p {
            justify-self: center;
            align-self: center; }
        section article .payment .cardInfo input {
          width: 100%;
          height: 6vh;
          border-radius: 5px;
          margin-top: 2vh;
          border: 2px solid #013335; }
      section article .payment .yourBuy {
        grid-column: span 6;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center; }
        section article .payment .yourBuy img {
          width: 40%; }
        section article .payment .yourBuy img:nth-child(3) {
          width: 60%; }
      section article .payment .order {
        margin-top: 6vh;
        grid-column: span 6;
        display: grid;
        grid-template-columns: repeat(2, 1fr); }
        section article .payment .order .produkt {
          display: grid;
          grid-template-columns: repeat(3, 1fr); }
          section article .payment .order .produkt img {
            width: 60%; }
        section article .payment .order img {
          width: 85%;
          margin-top: 5vh; }
      section article .payment .contactInfo {
        grid-column: 2 / span 5; }
        section article .payment .contactInfo .information {
          text-align: start;
          margin-top: 3vh; }
          section article .payment .contactInfo .information input {
            width: 40%;
            height: 6vh;
            border-radius: 5px;
            margin-top: 2vh;
            border: 2px solid #013335; }
          section article .payment .contactInfo .information .postNr {
            width: 10%; }
          section article .payment .contactInfo .information .by {
            margin-left: 1%;
            width: 29%; }
        section article .payment .contactInfo .inputGroup {
          background-color: #fff;
          display: block;
          margin: 10px 0;
          position: relative; }
          section article .payment .contactInfo .inputGroup span {
            position: absolute;
            right: 17%;
            top: 25%;
            width: 41%;
            font-size: 0.7vw; }
          section article .payment .contactInfo .inputGroup .shortText {
            top: -8%;
            width: 78%;
            right: -15%; }
          section article .payment .contactInfo .inputGroup label {
            padding: 8px 70px;
            width: 10%;
            border: 1px solid black;
            display: block;
            text-align: left;
            color: #3c454c;
            cursor: pointer;
            position: relative;
            z-index: 2;
            transition: color 200ms ease-in;
            overflow: hidden; }
            section article .payment .contactInfo .inputGroup label:before {
              width: 10px;
              height: 10px;
              border-radius: 50%;
              content: "";
              background-color: #5562eb;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%) scale3d(1, 1, 1);
              transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
              opacity: 0;
              z-index: -1; }
            section article .payment .contactInfo .inputGroup label:after {
              width: 32px;
              height: 32px;
              content: "";
              border: 2px solid #d1d7dc;
              background-color: #fff;
              background-repeat: no-repeat;
              background-position: 2px 3px;
              border-radius: 50%;
              z-index: 2;
              position: absolute;
              left: 30px;
              top: 50%;
              transform: translateY(-50%);
              cursor: pointer;
              transition: all 200ms ease-in; }
          section article .payment .contactInfo .inputGroup input[type="radio"]:checked + label {
            font-weight: bold;
            background-color: blue;
            color: white; }
            section article .payment .contactInfo .inputGroup input[type="radio"]:checked + label:after {
              background-color: black; }
          section article .payment .contactInfo .inputGroup input[type="radio"]:checked + label {
            font-weight: bold;
            background-color: blue;
            color: white; }
          section article .payment .contactInfo .inputGroup input {
            width: 3vw;
            height: 3vh;
            order: 1;
            z-index: 2;
            position: absolute;
            right: 24.5vw;
            top: 43%;
            transform: translateY(-50%);
            cursor: pointer;
            visibility: hidden; }
          section article .payment .contactInfo .inputGroup .yes {
            visibility: visible; }
        section article .payment .contactInfo .form {
          padding: 0 16px;
          max-width: 550px;
          margin: 50px auto;
          font-size: 18px;
          font-weight: 600;
          line-height: 36px; }
    section article .nyhed {
      grid-column: span 12;
      min-height: 62vh;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      margin-top: 5vh; }
      section article .nyhed .nyhedsbrev {
        grid-column: 2 / span 5;
        width: 37vw; }
        section article .nyhed .nyhedsbrev form {
          margin-top: 3vh; }
          section article .nyhed .nyhedsbrev form input {
            width: 77%;
            height: 6vh;
            border-radius: 5px;
            margin-top: 1vh;
            padding: 0 0 0 1vw;
            border: 2px solid #013335; }
        section article .nyhed .nyhedsbrev h2 {
          font-size: 2vw; }
        section article .nyhed .nyhedsbrev p {
          line-height: 2vw; }
        section article .nyhed .nyhedsbrev span {
          padding: 0; }
        section article .nyhed .nyhedsbrev button {
          margin: 0.5vw 0 0 0;
          background-color: #013335;
          border-radius: 14px;
          width: 12vw;
          height: 7vh;
          color: white;
          font-size: 1.3vw;
          border: 3px solid #83bcaa; }
    section article .infobox {
      margin-top: 5vh;
      min-height: 80vh;
      background-color: #013335;
      grid-column: span 12;
      display: grid;
      grid-template-columns: repeat(12, 1fr); }
      section article .infobox img {
        width: 80%;
        grid-column: 2 / span 5;
        align-self: center; }
      section article .infobox .info {
        grid-column: span 6;
        padding-top: 8vh;
        display: flex;
        align-content: center;
        flex-direction: column;
        color: white; }
      section article .infobox .tick {
        width: 1.2vw;
        margin: 0 0.5vw 0 0; }
    section article aside {
      margin-top: 12vh;
      grid-column: 2 / span 5;
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(6, 1fr);
      margin-left: 0.5vw; }
      section article aside .little {
        width: 7.6vw; }
      section article aside .big {
        grid-column: 2 / span 5;
        grid-row: 1 / span 4;
        width: 34vw; }
      section article aside .voresTilbud {
        grid-column: 2 / span 3;
        grid-row: span 2;
        align-self: center;
        width: 26vw;
        padding: 0 0 0 2vw; }
        section article aside .voresTilbud .tilbuddet {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          justify-items: center; }
        section article aside .voresTilbud img {
          width: 11vw; }
        section article aside .voresTilbud img:nth-child(2) {
          width: 3vw;
          align-self: center; }
        section article aside .voresTilbud img:nth-child(3) {
          width: 8vw; }
    section article main {
      grid-column: span 5;
      padding-top: 11vh;
      grid-row-gap: 12px;
      display: grid;
      margin: 0 0 0 4vw;
      grid-template-columns: repeat(2, 0fr);
      grid-template-rows: 14% 25% 25% 36%; }
      section article main .beskrivelse {
        display: grid;
        justify-items: center;
        width: 15vw;
        margin: 0px 0 0 1vw; }
        section article main .beskrivelse img {
          width: 6vw; }
        section article main .beskrivelse p {
          text-align: center;
          font-size: 0.8vw; }
    section article h2 {
      grid-column: span 2;
      justify-self: center;
      font-size: 1.6vw;
      font-weight: 900; }
    section article .tilbud {
      grid-column: span 2;
      justify-self: center;
      margin-right: -3vw;
      margin-top: 7vh; }
      section article .tilbud h3 {
        color: #c91f26;
        width: 51%;
        float: left;
        font-size: 2vw; }
      section article .tilbud #dropdown {
        width: 12vw;
        height: 2vw;
        float: right;
        margin-top: 0.4vw; }
      section article .tilbud button {
        background-color: #013335;
        border-radius: 15px;
        width: 30vw;
        height: 7vh;
        border: 3px solid #83bcaa;
        color: white;
        font-size: 1.5em;
        margin: 0.5vw 0 0 0; }

@media only screen and (max-width: 1200px) {
  section article main .beskrivelse img {
    width: 40%; }
  section article .infobox img {
    width: 90%;
    grid-column: span 12;
    margin-top: 2vh; }
  section article .infobox .info {
    grid-column: span 12;
    text-align: center; }
  section article .nyhed {
    min-height: 70vh; }
  section article .nyhed .nyhedsbrev button {
    width: 85vw; }
  section article .nyhed .nyhedsbrev {
    grid-column: span 12; }
  section article .kundeservice {
    grid-column: span 12;
    display: grid;
    justify-items: center; }
  span {
    font-size: 1.9vw; }
  p {
    font-size: 1.9vw; }
  strong {
    font-size: 2.2vw; }
  .order {
    grid-column: span 12; }
    .order img {
      width: 85%;
      margin-top: 5vh; }
  .contactInfo {
    grid-column: 2 / span 11;
    display: grid; }
  section article aside {
    grid-column: 2 / span 11; }
  section article main {
    grid-column: span 12; }
  section article .tilbud {
    margin: 0;
    justify-self: center; }
    section article .tilbud button {
      width: 50vw;
      margin-bottom: 20px; } }
