$color: #013335;
$secondcolor: #83bcaa;
$greycolor: #e5e5e5;
$redcolor: #c91f26;
* {
  padding: 0;
  margin: 0;
}

span {
  font-size: 0.9vw;
}
p {
  font-size: 0.9vw;
}
strong {
  font-size: 1.2vw;
}

body {
  overflow-x: hidden;
}
// html skelet start
section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 25vh auto;
  min-height: 100vh;
  min-width: 100vw;

  .air {
    grid-column: span 12;
    height: 5vh;
    margin-top: 6vh;
    background-color: $color;
    width: 100vw;
  }
  header {
    grid-column: span 12;
    background-color: $color;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    .logo {
      grid-column: span 12;
      justify-self: center;
      display: grid;

      img {
        justify-self: center;
        align-self: center;
        width: 50%;
      }
    }
    .info {
      grid-column: span 12;
      display: grid;
      background: $secondcolor;

      grid-template-columns: repeat(12, 1fr);

      span {
        grid-column: span 3;
        justify-self: center;
        display: grid;
        align-items: center;
        justify-items: center;
        font-size: 1.3vw;
        text-align: center;

        img {
          width: 22%;
        }

        img:nth-child(3) {
          width: 30%;
          align-self: flex-start;
        }
      }
    }
  }

  .midPicture {
    grid-column: span 12;
    min-height: 50vh;
    background-color: $color;
    display: grid;
    justify-items: center;
    align-items: center;

    img {
      width: 25%;
    }
  }

  footer {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    min-height: 40vh;
    height: auto;
    background: $secondcolor;

    .footerInfo {
      grid-column: span 3;
      justify-self: center;
      align-self: center;
      font-size: 1vw;
      color: white;

      img {
        width: 80%;
      }
    }
  }

  //  html skelet afsluttet

  // placering af indhold start
  article {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    .theProduct {
      grid-column: span 12;
      min-height: 80vh;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      background-color: $color;
      margin-top: 5vh;

      .text {
        align-self: center;
        height: 70%;
        grid-column: 2 / span 4;
        color: white;
      }

      .picture {
        grid-column: 7 / span 5;
        width: 80%;
        align-self: center;
        justify-self: center;
      }
    }

    .andreTilbud {
      grid-column: span 12;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 20px;
      padding: 1vw;

      .shortText {
        grid-column: 2 / span 5;
        align-self: flex-end;
        justify-self: flex-start;
      }

      img {
        width: 100%;
      }

      button {
        background-color: $color;
        border-radius: 15px;
        width: 20vw;
        height: 10vh;
        color: white;
        font-size: 1.5em;
        border: none;
      }
    }

    .kundeservice {
      grid-column: span 6;
      display: grid;

      .readers {
        text-align: center;
        width: 80%;
      }

      button {
        margin-top: 4vh;
        background-color: $color;
        border-radius: 25px;
        width: 30vw;
        height: 8vh;
        color: white;
        font-size: 1.5em;
        border: none;
      }
    }
    .payment {
      grid-column: span 12;
      display: grid;
      grid-template-columns: repeat(12, 1fr);

      .finish {
        grid-column: span 12;
        display: none;
        grid-template-columns: repeat(12, 1fr);
      }

      .cardInfo {
        grid-column: 2 / span 5;
        display: grid;

        justify-items: flex-start;

        .card {
          width: 100%;
        }

        span {
          display: grid;
          grid-template-columns: 30% 70%;
          width: 100%;

          p {
            justify-self: center;
            align-self: center;
          }
        }

        input {
          width: 100%;
          height: 6vh;
          border-radius: 5px;
          margin-top: 2vh;
          border: 2px solid #013335;
        }
      }

      .yourBuy {
        grid-column: span 6;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;

        img {
          width: 40%;
        }

        img:nth-child(3) {
          width: 60%;
        }
      }

      .order {
        margin-top: 6vh;
        grid-column: span 6;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .produkt {
          display: grid;
          grid-template-columns: repeat(3, 1fr);

          img {
            width: 60%;
          }
        }
        img {
          width: 85%;
          margin-top: 5vh;
        }
      }

      .contactInfo {
        grid-column: 2 / span 5;

        .information {
          text-align: start;
          margin-top: 3vh;

          input {
            width: 40%;
            height: 6vh;
            border-radius: 5px;
            margin-top: 2vh;
            border: 2px solid $color;
          }

          .postNr {
            width: 10%;
          }

          .by {
            margin-left: 1%;
            width: 29%;
          }
        }

        .inputGroup {
          background-color: #fff;
          display: block;
          margin: 10px 0;
          position: relative;

          span {
            position: absolute;
            right: 17%;
            top: 25%;
            width: 41%;
            font-size: 0.7vw;
          }

          .shortText {
            top: -8%;
            width: 78%;
            right: -15%;
          }

          label {
            padding: 8px 70px;
            width: 10%;
            border: 1px solid black;
            display: block;
            text-align: left;
            color: #3c454c;
            cursor: pointer;
            position: relative;
            z-index: 2;
            transition: color 200ms ease-in;
            overflow: hidden;

            &:before {
              width: 10px;
              height: 10px;
              border-radius: 50%;
              content: "";
              background-color: #5562eb;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%) scale3d(1, 1, 1);
              transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
              opacity: 0;
              z-index: -1;
            }

            &:after {
              width: 32px;
              height: 32px;
              content: "";
              border: 2px solid #d1d7dc;
              background-color: #fff;
              background-repeat: no-repeat;
              background-position: 2px 3px;
              border-radius: 50%;
              z-index: 2;
              position: absolute;
              left: 30px;
              top: 50%;
              transform: translateY(-50%);
              cursor: pointer;
              transition: all 200ms ease-in;
            }
          }

          input[type="radio"]:checked + label {
            font-weight: bold;
            background-color: blue;
            color: white;

            &:after {
              background-color: black;
            }
          }

          input[type="radio"]:checked + label {
            font-weight: bold;
            background-color: blue;
            color: white;
          }

          input {
            width: 3vw;
            height: 3vh;
            order: 1;
            z-index: 2;
            position: absolute;
            right: 24.5vw;
            top: 43%;
            transform: translateY(-50%);
            cursor: pointer;
            visibility: hidden;
          }

          .yes {
            visibility: visible;
          }
        }
        .form {
          padding: 0 16px;
          max-width: 550px;
          margin: 50px auto;
          font-size: 18px;
          font-weight: 600;
          line-height: 36px;
        }
      }
    }
    .nyhed {
      grid-column: span 12;
      min-height: 75vh;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      margin-top: 5vh;

      .nyhedsbrev {
        grid-column: 2 / span 5;

        form {
          text-align: center;
          margin-top: 3vh;

          input {
            width: 77%;
            height: 6vh;
            border-radius: 5px;
            margin-top: 2vh;
            border: 2px solid $color;
          }
        }

        h2 {
          font-size: 2vw;
          text-align: center;
        }
        p {
          padding: 2vw 0vw 2vw 6.3vw;
        }

        span {
          padding: 1vw 9vw;
        }

        button {
          margin: 2vw 0vw 2vw 6.3vw;
          background-color: $color;
          border-radius: 25px;
          width: 15vw;
          height: 10vh;
          color: white;
          font-size: 1.5em;
          border: none;
        }
      }
    }

    .infobox {
      margin-top: 5vh;
      min-height: 80vh;
      background-color: $color;
      grid-column: span 12;
      display: grid;
      grid-template-columns: repeat(12, 1fr);

      img {
        width: 80%;
        grid-column: 2 / span 5;
        align-self: center;
      }
      .info {
        grid-column: span 6;
        padding-top: 8vh;
        display: flex;
        align-content: center;
        flex-direction: column;
        color: white;
      }
    }

    // styling af venstre side
    aside {
      margin-top: 3vh;
      grid-column: 2 / span 5;
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(6, 1fr);
      margin-left: 0.5vw;

      .little {
        width: 100%;
      }

      .big {
        grid-column: 2 / span 5;
        grid-row: 1 / span 4;
        width: 82%;
      }

      .voresTilbud {
        grid-column: 3 / span 2;
        grid-row: span 2;
        align-self: center;

        .tilbuddet {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          justify-items: center;
        }

        img {
          width: 100%;
        }

        img:nth-child(2) {
          width: 55%;
          align-self: center;
        }

        img:nth-child(3) {
          width: 130%;
        }
      }
    }

    // styling af højre side
    main {
      grid-column: span 5;
      padding-top: 3vh;
      grid-row-gap: 30px;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 14% 25% 25% 36%;

      .beskrivelse {
        display: grid;
        justify-items: center;

        img {
          width: 20%;
        }

        p {
          text-align: center;
        }
      }
    }
    h2 {
      grid-column: span 2;
      justify-self: center;
      font-size: 3vw;
    }
    .tilbud {
      grid-column: span 2;
      justify-self: center;

      margin-right: 4vw;
      margin-top: -3vh;

      h3 {
        color: $redcolor;
        font-size: 3vw;
        text-align: center;
      }

      button {
        background-color: $color;
        border-radius: 15px;
        width: 30vw;
        height: 10vh;
        color: white;
        font-size: 1.5em;
        border: none;
      }
    }
  }
  // placering af indhold slut
}

@media only screen and (max-width: 1200px) {
  section article main .beskrivelse img {
    width: 40%;
  }

  section article .infobox {
    img {
      width: 90%;
      grid-column: span 12;
      margin-top: 2vh;
    }
    .info {
      grid-column: span 12;
      text-align: center;
    }
  }
  section article .nyhed {
    min-height: 70vh;
  }

  section article .nyhed .nyhedsbrev button {
    width: 85vw;
  }

  section article .nyhed .nyhedsbrev {
    grid-column: span 12;
  }

  section article .kundeservice {
    grid-column: span 12;
    display: grid;
    justify-items: center;
  }

  span {
    font-size: 1.9vw;
  }
  p {
    font-size: 1.9vw;
  }
  strong {
    font-size: 2.2vw;
  }

  .order {
    grid-column: span 12;

    img {
      width: 85%;
      margin-top: 5vh;
    }
  }

  .contactInfo {
    grid-column: 2 / span 11;
    display: grid;
  }

  section article {
    aside {
      grid-column: 2 / span 11;
    }

    main {
      grid-column: span 12;
    }

    .tilbud {
      margin: 0;
      justify-self: center;

      button {
        width: 50vw;
        margin-bottom: 20px;
      }
    }
  }
}
