$color: #003335;
$secondcolor: -webkit-linear-gradient(
  0deg,
  rgba(7, 75, 92, 1) 0%,
  rgba(95, 164, 165, 1) 34.98%,
  rgba(131, 201, 195, 1) 51.36%,
  rgba(126, 196, 191, 1) 58.64%,
  rgba(110, 180, 178, 1) 67.88%,
  rgba(85, 154, 156, 1) 78.17%,
  rgba(49, 118, 127, 1) 89.13%,
  rgba(7, 75, 92, 1) 100%
);
$greycolor: #e5e5e5;
$redcolor: #c91f26;
* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}
// html skelet start
section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 25vh auto;
  min-height: 100vh;
  min-width: 100vw;

  .air {
    grid-column: span 12;
    height: 5vh;
    margin-top: 6vh;
    background-color: $color;
    width: 100vw;
  }
  header {
    grid-column: span 12;
    background-color: $color;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    .logo {
      grid-column: span 12;
      justify-self: center;
      display: grid;

      img {
        justify-self: center;
        align-self: center;
        width: 50%;
      }
    }
    .info {
      grid-column: span 12;
      display: grid;
      background: $secondcolor;

      grid-template-columns: repeat(12, 1fr);

      span {
        grid-column: span 3;
        justify-self: center;
        display: grid;
        align-items: center;
        justify-items: center;
        font-size: 1.3vw;
        text-align: center;

        img {
          width: 22%;
        }

        img:nth-child(3) {
          width: 30%;
          align-self: flex-start;
        }
      }
    }
  }

  footer {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    min-height: 40vh;
    height: auto;
    background: $secondcolor;

    .footerInfo {
      grid-column: span 3;
      justify-self: center;
      align-self: center;
      font-size: 1vw;
      color: white;
    }
  }

  //  html skelet afsluttet

  // placering af indhold start
  article {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    .andreTilbud {
      grid-column: span 12;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 20px;
      padding: 1vw;

      .shortText {
        grid-column: 2 / span 5;
        align-self: flex-end;
        justify-self: flex-start;
      }

      img {
        width: 100%;
      }

      button {
        background-color: $color;
        border-radius: 15px;
        width: 20vw;
        height: 10vh;
        color: white;
        font-size: 1.5em;
        border: none;
      }
    }

    .kundeservice {
      grid-column: span 6;

      button {
        margin-top: 4vh;
        background-color: $color;
        border-radius: 25px;
        width: 30vw;
        height: 8vh;
        color: white;
        font-size: 1.5em;
        border: none;
      }
    }

    .nyhed {
      grid-column: span 12;
      height: 70vh;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      margin-top: 5vh;

      .nyhedsbrev {
        grid-column: span 6;

        h2 {
          font-size: 2vw;
          text-align: center;
        }
        p {
          font-size: 1.2vw;
          padding: 2vw 0vw 2vw 6.3vw;
        }

        span {
          padding: 1vw 9vw;
        }

        button {
          margin: 2vw 0vw 2vw 6.3vw;
          background-color: $color;
          border-radius: 25px;
          width: 15vw;
          height: 10vh;
          color: white;
          font-size: 1.5em;
          border: none;
        }

        form {
          text-align: center;
          margin-top: 3vh;

          input {
            width: 77%;
            height: 6vh;
            border-radius: 5px;
            margin-top: 2vh;
            border: 2px solid $color;
          }
        }
      }
    }

    .infobox {
      margin-top: 5vh;
      height: 80vh;
      background-color: $color;
      grid-column: span 12;
      display: grid;
      grid-template-columns: repeat(12, 1fr);

      img {
        width: 80%;
        grid-column: span 6;
        justify-self: center;
        align-self: center;
      }
      .info {
        grid-column: span 6;
        padding-top: 8vh;
        display: flex;
        align-content: center;
        flex-direction: column;
        color: white;
      }
      span {
        font-size: 0.9vw;
      }
      p {
        font-size: 0.9vw;
      }
      strong {
        font-size: 1.2vw;
      }
    }

    // styling af venstre side
    aside {
      margin-top: 3vh;
      grid-column: span 6;
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(6, 1fr);
      margin-left: 0.5vw;

      .little {
        width: 100%;
      }

      .big {
        grid-column: 2 / span 5;
        grid-row: 1 / span 4;
        width: 82%;
      }

      .voresTilbud {
        grid-column: 3 / span 2;
        grid-row: span 2;
        align-self: center;

        .tilbuddet {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          justify-items: center;
        }

        img {
          width: 100%;
        }

        img:nth-child(2) {
          width: 55%;
          align-self: center;
        }

        img:nth-child(3) {
          width: 130%;
        }
      }
    }

    // styling af højre side
    main {
      grid-column: span 6;
      padding-top: 3vh;
      grid-row-gap: 30px;
      margin-left: -6vw;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 14% 25% 25% 36%;

      .beskrivelse {
        display: grid;
        justify-items: center;

        img {
          width: 20%;
        }

        p {
          text-align: center;
          font-size: 1.6vw;
        }
      }
    }
    h2 {
      grid-column: span 2;
      justify-self: center;
      font-size: 3vw;
    }
    .tilbud {
      grid-column: span 2;
      justify-self: flex-end;
      align-self: flex-start;
      margin-right: 4vw;
      margin-top: -3vh;

      h3 {
        color: $redcolor;
        font-size: 3vw;
        text-align: center;
      }

      button {
        background-color: $color;
        border-radius: 15px;
        width: 20vw;
        height: 10vh;
        color: white;
        font-size: 1.5em;
        border: none;
      }
    }
  }
  // placering af indhold slut
}

@media only screen and (max-width: 1200px) {
  section article {
    aside {
      grid-column: 2 / span 11;
    }

    main {
      grid-column: span 12;
    }

    .tilbud {
      margin: 0;
      justify-self: center;

      button {
        width: 50vw;
        margin-bottom: 20px;
      }
    }
  }
}
